@font-face {
  font-family: 'ARCADECLASSIC';
  src: url('./ARCADECLASSIC.ttf');

}


body {
  margin: 20px;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  min-height: 100%;
  min-width: 100%;;
  z-index: -1;
  opacity: 0.7;

}

h1{
  text-align: center;
  color: #232B2B;
  font-family: Helvetica, sans-serif;
}

code {
  background: #d0d0d5;
}

canvas {
  margin: auto;
  font-family: ARCADECLASSIC;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}
